$width-lg: 240px;
$width-md: 200px;
$width-sm: 180px;
$width-xs: 140px;

$height-lg: 60px;
$height-md: 40px;
$height-sm: 20px;
$height-xs: 10px;
$height-xxs: 5px;

$header-height: 80px;

$size--login-width: 400px;

$size--card-height: 100px;
$size--message-height: 100px;

$size--notification-width: 250px;
$size--notification-height: 80px;

$spacer-xx: 16em;
$spacer-xl: 8em;
$spacer-lg: 4em;
$spacer-md: 2em;
$spacer-sm: 1em;
$spacer-xs: 0.5em;

$screen-xx: 90rem;
$screen-lg: 75rem;	// 1200px
$screen-md: 62rem;	// 992px
$screen-sm: 48rem;	// 768px
$screen-xs: 40rem;
$screen-xxs: 35rem;
