.o-comments {
	width: 100%;
	height: 100%;
	margin-top: $spacer-md;

	@include flexBox(column, flex-start, flex-start);

	header {
		width: 100%;
		border-bottom: $border-md;
		text-align: left;
	}

	.list {
		width: 100%;
		height: 100%;
		padding-bottom: $spacer-md;
		overflow: scroll;
	}
}
