@mixin at($_min-width) {
	@media screen and (min-width: $_min-width) {
		@content;
	}
}

@mixin to($_max-width) {
	@media screen and (max-width: $_max-width) {
		@content;
	}
}

@mixin flexBox($direction:row, $justify:space-between, $align: center) {
	display: flex;
	flex-flow: $direction nowrap;
	justify-content: $justify;
	align-items: $align;
	text-align: center;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
	  @content;
	}
	@-moz-keyframes #{$animationName} {
	  @content;
	}
	@-o-keyframes #{$animationName} {
	  @content;
	}
	@keyframes #{$animationName} {
	  @content;
	}
  }
